
    body {
        background-color: turquoise;

    }
        main {
            display: inline-block;
            width: 800px;
            margin-left: calc(50% - 400px);
            margin-top: 100px;
            
            position: relative;

        }
            .column-left {
                display: inline-block;
                float: left;
                width: 30%;
                padding: 40px;
                background-color: tomato;

                position: absolute;
                top: 30px;
                bottom: 30px;

            }
            h1{
                color: white;

            }
            footer{
                position: absolute;
                bottom: 20px;
                color: white;

            }
                footer>a{ color: white;}
                footer>span{}
    
            .column-right {
                display: inline-block;
                float: right;
                width: 50%;
                padding: 50px;
                background-color: white;
                 position: relative;
            }
                .close {
                    display:inline-block;
                    /*background-color: red;*/
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    font-size: 20px;
                    color: lightgray;
                    line-height: 60px;
                    /*padding-top: 20px;*/
                    
                    position: absolute;
                    top: 0px;
                    right: 0px;

                }
                .form{
                    display: inline-block;
                    width: 100%;
                }
                    .line{
                        display: inline-block;
                        width: 100%;
                    }
                    .line + .line {
                        margin-top: 20px;
                    }
                        label{
                            display: inline-block;
                            width: 100%;
                            text-transform: uppercase;
                            font-size: 10px;
                            /*font-weight: bold;*/
                            color: lightgray;
                            
                        }
                        input{
                            display: inline-block;
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid lightgray;
                            font-size: 15px;
                            line-height: 30px;

                        }
                        .btn{
                            display: inline-block;
                            float: left;
                            padding: 10px;
                            padding-left: 30px;
                            padding-right: 30px;
                            background-color: #154CD7;
                            border-radius: 17px;
                            line-height: 17px;
                            font-size: 12px;
                            color: white;
                        }
                            .line > span {
                                display: inline-block;
                                float: left;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                line-height: 17px;
                                font-size: 12px;
                                margin-left: 20px;
                            }

                            .line > a {
                                display: inline-block;
                                float: left;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                line-height: 17px;
                                font-size: 12px;
                                margin-left: 4px;
                                text-decoration: none;
                                color: #154CD7;
                             }

                    
                    



